
%html
  %body
    .container
      %ol.breadcrumb
        %li
          %a= link_to "Home",root_path
          %li.active=  "Library"
      .row
      - @books.each do |book|
        = render "book_row", book: book, order_item: @order_item
